doctype html
html(lang='en')
  head
    title Nare Photogaraphy Blog
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Nare Blog
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li(class=(title == 'Posts' ? 'active' : ''))
              a(href='/posts') Posts
            if !user
              li(class=(title == 'Register' ? 'active' : ''))
                a(href='/members/register') Register
              
              li(class=(title == 'Login' ? 'active' : ''))
                a(href='/members/login') Login
          

          ul.nav.navbar-nav.navbar-right
            if user
              li(class='dropdown')
                a(class='dropdown-toggle', data-toggle="dropdown" ) #{user.name} 
                  span(class='caret')

                
                ul(class='dropdown-menu')
                  if user.isAdmin
                    if !status
                      li(class='dropdown')
                        a(href='/admin') Admin
  
                    if status == 'Admin'
                      li
                        a(href='/posts') Front-End
                  
                  li
                    a(href='/members/logout') Logout
    .container
      != messages()
      block content




    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
