doctype html
html(lang='en')
  head
    title Nare Photogaraphy Blog
    <link href="https://fonts.googleapis.com/css?family=Italianno|Raleway:500|Rokkitt" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    .container
      header
        .text-center
          span WELCOME
          h2 Nare Photogaraphy
          span BLOG
    .container.container-nav
      .navbar.navbar-default.navbar-border(role='navigation')
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-middle(class=(!user ? 'wide-nav' : ''))
            li(class=(title == 'Posts' ? 'active' : ''))
              a(href='/posts') Posts
            if !user
              li(class=(title == 'Register' ? 'active' : ''))
                a(href='/members/register') Register
              
              li(class=(title == 'Login' ? 'active' : ''))
                a(href='/members/login') Login
              
              if !user
                li
                  a(href='http://www.narephoto.com', target='_blank') Website
          

          ul.nav.navbar-nav.navbar-right
            if user
              li(class='dropdown')
                a(class='dropdown-toggle', data-toggle="dropdown" ) #{user.name} 
                  span(class='caret')

                
                ul(class='dropdown-menu')
                  if user.isAdmin
                    if !status
                      li(class='dropdown')
                        a(href='/admin') Admin
  
                    if status == 'Admin'
                      li
                        a(href='/posts') Front-End
                  
                  li
                    a(href='/members/logout') Logout
    .container.main-container
      != messages()
      .intro
        img(src='/images/intro_bg.jpg', alt='intro background')
        .intro-text
          h3  Lorem ipsum dolor sit amet, consectetur adipisicing elit
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ut, hic pariatur modi facere rerum totam maxime.
      block content

    footer.text-center
      img.logo(src='/images/logo.png')
      hr
      p
        span 13001 Vanowen street
        span North Hollywood, CA 
        span
          a(href='callto:9546143334') tel: 954.614.3334
        span.gold &copy; 2017 NARE PHOTOGRAPHY
        span  
          a(href='http://www.a-soliman.com', target='_blank') SITE BY A.SOLIMAN




    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/cust-animation.js')
    script(src='/javascripts/form-validation.js')
