// Colors
$background-color: #343434;
$gold: #d3b680;
$white: #fff;
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.58);
$orangy: #FF9800;
$beige: beige;


// fonts
$header-logo-font: serif;
$nav-font : cursive;
$post-title-font: 'Raleway', sans-serif;
$post-body-font: 'Rokkitt', serif;
$post-button-font: 'Italianno', cursive;
